@import "../../index.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  div:last-child {
    display: flex;
    gap: 1rem;
  }
}

/* Global CSS */
button {
  cursor: pointer;
  background: var(--light-grey-color);
  border: 0;
  border-radius: 8px;
  padding: 0.75rem;
}

hr {
  color: var(--light-grey-color);
}

/* Main Content: Cart and Summary */
main {
  padding: 3.5rem 2rem 0;
  h1 {
    font-size: var(--heading02-font-size);
    margin-bottom: 2rem;
  }
}

.layout {
  display: flex;
  justify-content: space-between;
}

.cart {
  width: min(60%, 664px);
  display: grid;
  gap: 2rem;
}
.cart__product {
  display: flex;
  justify-content: space-between;

  .image-container {
    overflow: hidden;
    width: 220px;
    height: fit-content;
    border-radius: 32px;
    margin-right: 2rem;
  }

  .image-container img {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .image-container img:hover {
    transform: scale(1.1);
  }
}

.cart__actions {
  text-align: end;
  button {
    width: 3rem;
    aspect-ratio: 1;
  }

  .button-remove {
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-bottom: 1rem;
  }
  .button-remove:hover {
    color: var(--white-color);
    background: var(--secondary-color);
  }
}

.product__info {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: fit-content;

  .product__name {
    margin-bottom: 1rem;
  }

  .product__price {
    font-weight: var(--medium-weight);
    font-size: 1.75rem;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.quantity {
  font-size: var(--normal-font-size);
}

.right-section {
  width: min(40%, 411px);

  .summary,
  .coupon {
    background: var(--light-grey-color);
    border-radius: 32px;
    padding: 2rem 2.5rem;
  }
}

.summary {
  padding: 2rem 2.5rem;
  margin-bottom: 2rem;

  h2 {
    font-size: var(--medium-font-size);
    margin-bottom: 2rem;
  }

  .button-checkout {
    width: 100%;
    font-size: var(--normal-font-size);
    color: var(--white-color);
    background: var(--secondary-color);
    border-radius: 100px;
  }
}

.summary__details {
  margin-bottom: 2rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  .text {
    font-size: var(--normal-font-size);
  }
  .result {
    font-size: var(--medium-font-size);
    font-weight: var(--medium-weight);
  }
}

.coupon h2 {
  font-size: var(--medium-font-size);
  margin-bottom: 2rem;
}

.coupon__input-box {
  display: flex;
  width: 100%;
  border-radius: 4px;
  background: var(--white-color);

  input {
    display: block;
    width: 100%;
    outline: transparent;
    border: 0;
    background: none;
    font-size: var(--normal-font-size);
    padding: 0.5rem 1.5rem;
  }

  button {
    color: var(--secondary-color);
    font-size: var(--normal-font-size);
    background: none;
  }
}
