@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* color */
  --primary-color: #2b8c32;
  --secondary-color: #d94343;
  --third-color: #031818;
  --fourth-color: #f29f05;
  --dark-color: #0d0c0b;
  --dark-grey-color: #262626;
  --grey-color: #484848;
  --light-grey-color: #f0efed; /* new added */
  --light-color: #ededee;
  --white-color: #ffffff;
  --pà¸ºrimary-background-color: #cff2cf;
  --secondary-background-color: #f2cb9b;

  /* font and typography */
  --body-font: "Poppins", sans-serif;
  --heading01-font-size: 4.75rem; /*76px*/
  --heading02-font-size: 3rem; /*48px*/
  --heading03-font-size: 2.5rem; /*40px*/
  --large-font-size: 2rem; /*32px*/
  --medium-font-size: 1.5rem; /*24px*/
  --normal-font-size: 1.25rem; /*20px*/
  --small-font-size: 1rem; /*16px*/
  --smaller-font-size: 0.75rem; /*12px*/

  /* font weight */
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
}

/* breakpoint */
/* for small device */

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 350px) {
}

/* for medium device */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
}

/* for large device */
@media screen and (min-width: 1023px) {
}

@media screen and (min-width: 1040px) {
}

/* for 2K and 4K device*/
@media screen and (min-width: 2048px) {
}

@media screen and (min-width: 3840px) {
}
